<!DOCTYPE html>
<html lang="en">

<link rel="manifest" href="favicon/site.webmanifest">
<link rel="wolf-icon" sizes="180x180" href="favicon/wolf-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<head>
    <meta charset="UTF-8">
    <title>Exchange Home</title>
</head>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/home.css">

<script>
    function redirectExchange() {
        location.href = '/exchangeView';
    }
</script>

<body>
    <button class="btn btn-primary btn-circle" onclick = "redirectExchange()">Become rich!</button>
</body>
</html>
